@font-face{
  font-family: 'Open Sans';
  src: local('OpOpen Sans Regular'), url('fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
  src: local('Open Sans Light'), url('fonts/open_sans/OpenSans-Light.ttf') format('truetype');
  src: local('Open Sans SemiBold'), url('fonts/open_sans/OpenSans-SemiBold.ttf') format('truetype');
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

body {
  font-family: "Open Sans Regular", serif;

}

h1{
  font: 2em "Open Sans Light";
}


.card{
  box-shadow: 0 0 8px #d3d3d3;
  max-width: 100%;
  min-height: 370px;
  padding-bottom: 10px;
}

.media-body {
  word-break: break-all;
}








